@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
.historyContainer,
.editorContainer,
.previewContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  border: none;
}
.historyContainer {
  left: 0;
  width: 16%;
  background-color: #333;
}
.historyContainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.historyContainer ul li {
  color: #fff;
  cursor: pointer;
  border-bottom: 1px solid #666;
}
.historyContainer a {
  display: block;
  width: 100%;
  padding: 10px;
}
.historyContainer .selected {
  background-color: #444;
}
.editorContainer {
  left: 16%;
  width: 42%;
  box-sizing: border-box;
}
.previewContainer {
  right: 0;
  width: 42%;
}
.preview {
  width: 100%;
  height: 100%;
}
.topBar {
  height: 44px;
  background-color: #666;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  box-sizing: border-box;
}
.left,
.right {
  display: flex;
  align-items: center;
}
.creationInput {
  padding: 5px;
  margin-right: 7px;
  width: 230px;
}
.editor {
  width: 100%;
  height: calc(100% - 44px);
  position: absolute;
  top: 44px;
  bottom: 0;
  box-sizing: border-box;
  padding: 10px;
  border-left: none;
}
.button {
  background-color: #4caf50;
  color: white;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  margin-right: 10px;
}
.button:hover {
  background-color: #45a049;
}
.button:disabled {
  background-color: #cccccc;
  color: #666666;
}
